*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: rgb(241, 219, 211);
}

.header h1{
    font-size: 50px;
    color: rgb(225, 119, 119);
    text-align: center;
}

.topnav{
    overflow: hidden;
    background-color: rgb(63, 182, 182);
    height: 50px;
}

.topnav a{
    float: left;
    display: block;
    color: aquamarine;
    padding: 14px 16px;
    text-decoration: none;
    animation-duration: 4s

}

.topnav a:hover{
    
    color: black;
    background-color: cornflowerblue;
    transform: rotate(-10deg);
    width:80px;
}

.leftbody{
    float: left;
    width: 75%;
    margin-top: 50px;
}

.leftbody {

    width: 49%;
    display: inline-block;

}

.rightbody {

    width: 50%;
    display: inline-block;
}

.heroimg {

    width: 650px;
    padding-left: 70px;

}

.img{
    margin-top:  50px;
    margin-left: 15%;
    width: 65%;
}

.para{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 25px;
    border-style: solid;
    border-radius: 5px;
}

.parahead{
    margin-top: 50px;
    margin-left: 30px;
    color: cadetblue;
    font-size: 50px;
}

.heroimg2{
    margin-left: 70px;
    width: 650px;
}

.rightbody{
    float: right;
    width: 75%;
    margin-top: 50px;
}

.rightbody {
    width: 49%;
    display: inline-block;

}

.card{
    background-color: antiquewhite;
    width: 20%;
    height: 270px;
    border-radius: 30px;
    margin-top: 30px;
    border: 2px solid black;
    box-shadow: 10px 10px 6px gray;
    text-align:center;
    display: inline-block;
    margin-right: 100px; 
    margin-top: 150px;
    margin-left: 50px;
}

.service{
    padding-left: 150px;
    display: inline-block;
}

.cardimg{
    margin-top: 20px;
    width: 70px;
}

.cardtext{
    font-family: sans-serif;
    margin-top: 10px;
}

.btn {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 30px;
}

.cardpara{
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn:hover{
    background-color: aqua;
}

.footer{
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }

.forms{
    margin-top: 65px;
    width: 50%;
    margin-left: 375px;
  }
  



