* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    background: #f1f1f1;
  }
  
  .header {
    padding: 30px;
    text-align: center;
    background: white;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  

  .img1 {
    width: 100%;
    padding: 20px;
  }

  .img2 {
    width: 100%;
    padding: 20px;
  }

  .img2:hover{
    background-color:  lightslategray;
  }
  

  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "c";
    display: table;
    clear: both;
  }
  
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  .btn {
    background-color: darkgrey;
    color: white;
    padding: 15px;
    border-radius: 30px;
}

.btn:hover{
  background-color: rgb(102, 93, 93);
}

.text1{
  text-shadow: 2px 2px 3px gray;
}

  /* Footer */
  footer {
    background-color: rgb(95, 105, 116);
    height: 25%;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
  }

  .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    text-transform: capitalize;
  }

  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }

  .socials li{
    margin: 0 10px;
  }

  .socials a{
    text-decoration: none;
    color: #fff;
  }

  .socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
  }

  .socials a:hover i{
    color: lightblue;
  }

  .footer-bottom{
    background-color: rgb(114, 112, 112);
    width: 100vw;
    padding: 20px 0 ;
    text-align: center;
  }

  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }

  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }